<%= render 'shared/header' %>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h2><%= @assignment.title %></h2>
      <h3><%= @assignment.body.html_safe %></h3>
      <% if logged_in? and current_user.user_name != 'Guest' %>
        <div class="row">  
          <p>
            <%= link_to "Create New Letter", new_assignment_letter_path(@assignment, @letter), class: "btn btn-lg btn-primary" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <% @letters.each do |letter| %>
    <%= render 'letters/letter', letter: letter %>
  <% end %>