<%= render 'shared/header' %>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h3><%= @assignment.title %></h3>
      <p><%= @assignment.body.html_safe %></p>
      <% if logged_in? and current_user.admin? %>
        <div class="row">  
          <div><%= link_to "Edit this assignment",edit_assignment_path(@assignment), class: "btn btn-sm btn-success" %></div>
        </div>
      <% end %>
      <% if logged_in? and current_user.admin? %>
        </br>
        <div class="row">  
          <div><%= link_to "Delete this assignment", @assignment, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %></div>
        </div>
        </br>
      <% end %>
      <% if logged_in? and current_user.user_name != 'Guest' %>
        <div class="row">  
          <p>
            <%= link_to "Create New Letter", new_assignment_letter_path(@assignment, @letter), class: "btn btn-lg btn-primary" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <% @letters.each do |letter| %>
    <%= render 'letters/letter', letter: letter %>
  <% end %>