<div class='row'>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-11">
    <div class="well">
      <p><%= comment.body %></p>
    <small>Posted by <%= comment.creator.user_name %>, <%= display_datetime(comment.created_at) %>
      <% if is_active?(portfolios_path) %>
        , in response to <a href="/<%= comment.commentable_type.downcase.pluralize %>/<%= comment.commentable_id %>">this <%= comment.commentable_type.downcase %></a>
      <% end %>
      <% if logged_in? and (current_user == comment.creator || current_user.admin?) %>
        </br>
        <div><%= link_to "Delete this comment", comment, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %></div>
      <% end %>
    </small>
    </div>
  </div>
</div>


