<div class='row'>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-11">
    <div class="well">
      <p><%= comment.body %></p>
    <small>Posted by <%= comment.creator.user_name %>, <%= display_datetime(comment.created_at) %>
      <% if is_active?(portfolios_path) %>
        , in response to <a href="/<%= comment.commentable_type.downcase.pluralize %>/<%= comment.commentable_id %>">this <%= comment.commentable_type.downcase %></a>
      <% end %>
      <% if logged_in? and (current_user == comment.creator || current_user.admin?) %>
        </br>
        <div><%= link_to "Delete this comment", comment, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %></div>
      <% end %>
      <span>
        <% if logged_in? and current_user.user_name != 'Guest' %>
          </br>
          <%= link_to vote_comment_path(comment, vote: true), method: 'post' do%>
            <% if Vote.where("voteable_type = 'Comment' AND voteable_id = ? AND user_id = ?", comment.id, current_user.id) != [] %>
              <span class="glyphicon glyphicon-heart"></span>
            <% else %>
              <span class="glyphicon glyphicon-heart-empty"></span>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.user_name == 'Guest' %>
          <span class="glyphicon glyphicon-heart"></span>
        <% end %>
        <span id='comment_<%=comment.id%>_votes'><%= comment.total_votes %></span>
        <br/>
      </span>
    </small>
    </div>
  </div>
</div>


