<div class='row'>
  <div class="col-sm-1">
  </div>
  <div class="col-sm-11">
    <div class="well">
      <p><%= comment.body %></p>
    <small>Posted by <%= comment.creator.user_name %>, <%= display_datetime(comment.created_at) %>, in response to <a href="/<%= comment.commentable_type.downcase.pluralize %>/<%= comment.commentable_id %>">this <%= comment.commentable_type %></a></small>
    </div>
  </div>
</div>