<%= render 'shared/header' %>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h2>Portfolio of <%= @user.user_name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="well">
      <h2>Letters</h2>
    </div>
  </div>
  <% @letters.each do |letter| %>
    <%= render 'letters/letter', letter: letter %>
  <% end %>
  <div class="row">
    <div class="well">
      <h2>Posts</h2>
    </div>
  </div>
  <% @posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
  <div class="row">
    <div class="well">
      <h2>Comments</h2>
    </div>
  </div>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>