<div class="row">
  <div class="jumbotron">
    <h3><%= link_to("#{letter.title}", assignment_letter_path(letter.assignment_id, letter))%></h3>
    <p><%= letter.body.html_safe %> </p>
    <p>
      <small>Posted by <%= letter.creator.user_name %>, <%= display_datetime(letter.created_at) %></small>
    </p>
    <small>
      <span>
        <% if logged_in? and current_user.user_name != 'Guest' %>
          <%= link_to vote_assignment_letter_path(letter.assignment_id, letter, vote: true), method: 'post' do%>
            <% if Vote.where("voteable_type = 'Letter' AND voteable_id = ? AND user_id = ?", letter.id, current_user.id) != [] %>
              <i class="glyphicon glyphicon-heart"></i>
            <% else %>
              <i class="glyphicon glyphicon-heart-empty"></i>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.user_name == 'Guest' %>
          <i class="glyphicon glyphicon-heart"></i>
        <% end %>
        <span id='letter_<%=letter.id%>_votes'><%= letter.total_votes %></span>
        <%= link_to("Comments: #{letter.comments.length}", assignment_letter_path(letter.assignment_id, letter)) %>
        <br/>
      </span>
    </small>
  </div>
</div>
