<%= render 'shared/header' %>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <%= form_for @letter do |f| %>
        <div class='row'>
          <div class='control-group'>
            <%= f.label :title %>
            </br>
            <%= f.text_field :title, class: "col-md-8" %>
          </div>
        </div>
        <div class='row'>
          <div class='control-group'>
            <%= f.label :body %>
            </br>
            <%= f.text_area :body, rows: 12, class: "tinymce" %>
            <%= tinymce %>
          </div>
        </div>
        </br>
        <div class='row'>
          <div class='control-group'>
            <%= f.submit(@letter.new_record? ? 'Create letter' : 'Update letter', class: 'btn btn-primary')%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>