<div class="row">
  <div class="jumbotron">
    <h2><%= link_to("#{post.title}", post_path(post))%></h2>
    <p><%= post.body.html_safe %> </p>
    <p>
      <small>Posted by <%= post.creator.user_name %>, <%= display_datetime(post.created_at) %></small>
    </p>
    <small>
    <span>
      <%= link_to("Comments: #{post.comments.length}", post_path(post)) %>
    </span>
  </small>
  </div>
</div>
