<%= render 'shared/header' %>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h2><%= link_to("#{@post.title}", post_path(@post))%></h2>
      <p><%= @post.body %> </p>
      <p>
        <small>Posted by <%= @post.creator.user_name %>, <%= display_datetime(@post.created_at) %></small>
      </p>
      <% if logged_in? and (current_user == @post.creator || current_user.admin?) %>
        <div><%= link_to "Edit this post",edit_post_path(@post), class: "btn btn-lg btn-success" %></div>
      <% end %>
      <% if logged_in? and (current_user == @post.creator || current_user.admin?) %>
        </br>
        <div><%= link_to "Delete this post", @post, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %></div>
      <% end %>
  </div>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
    <% if logged_in? and current_user.user_name != 'Guest' %>
      <div class='row'>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-11">
          <div class="well">
            <h3>Add a comment:</h3>
            <%= form_for @comment, :url => comments_path(:commentable_type => "post", :commentable_id => @post.id) do |f| %>
              <div class="control-group">
                <%= f.text_area :body, rows: 5, class: "col-sm-11" %>
              </div>
              <div class="row">
                <div class="col-sm-11">
                  </br>
                  <%= f.submit "Post comment", class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>